
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// COLORS
$background : #0d0d0d;
$orange : #E85D04;
$orange-secondary : #FAA307;
$white-text : #f3f3f3;
$white-text-secondary : #B5B5B5;