@import "./variables";

// Fonts
@font-face {
  font-family: "Dinosaur";
  src: url("../public/fonts/Dinosaur.otf");
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $background;
  accent-color: $orange;
  max-width: 400px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // color:$white-text;
}

.homeModal {
  padding-bottom: 0;

  .ant-modal-content {
    background-color: #111;
  }
}
